.hamburger__menu {
    width: 40%;
    height: 50px;
    display: inline-block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.hamburger__part {
    width: 30px;
    background-color: #5BC0BE;
    height: 3px;
    margin-top: 6px;
    border-radius: 2px;
    transition: 400ms ease;
}

.hamburger__part:first-of-type {
    margin-top: none;
}

.mobile__menu__opened .hamburger__part:nth-child(1) {
    transform: translateY(9px) translateX(0px) rotate(315deg)
}

.mobile__menu__opened .hamburger__part:nth-child(2) {
    transform: rotate(45deg)
}

.mobile__menu__opened .hamburger__part:nth-child(3) {
    display: none
}
