.progress__wrapper {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#progress__bar {
    width: 100%;
    height: 15px;
    border: 1px solid #444;
    margin-bottom: 30px;
}

#progress {
    width: 0%;
    height: 15px;
    background-color: #5BC0BE;
}

#progress__button {
    width: 100px;
    font-size: 16px;
    box-shadow: none;
    letter-spacing: 2px;
}