.swiggle__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding: 10px;
}

#input__field {
    width: 150px;
    height: 25px;
    margin: 10px;
    font-size: 16px;
    letter-spacing: 2px;
}

#confirm__button {
    width: 100px;
    font-size: 16px;
    box-shadow: none;
    letter-spacing: 2px;
}

.swiggle__error__shake {
    animation: shake 0.5s;
    border: 2px solid #881238;
}

@keyframes shake {
    0% {transform: translate3d(-1px, 0, 0)}
    15% {transform: translate3d(3px, 0, 0)}
    30% {transform: translate3d(-3px, 0, 0)}
    45% {transform: translate3d(6px, 0, 0)}
    60% {transform: translate3d(-6px, 0, 0)}
    75% {transform: translate3d(3px, 0, 0)}
    90% {transform: translate3d(-3px, 0, 0);}
    100% {transform: translate3d(1px, 0, 0);}
}