.type__wrapper {
    width: 90%;
    height: 100px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

#type__effect {
    width: 100%;
    height: 30px;
    text-align: center;
}

#type__start {
    width: 100px;
    font-size: 16px;
    box-shadow: none;
    letter-spacing: 2px;
}