/* Typography rules */

body {
    font-family: 'Roboto', sans-serif;
    background-image: url(../src-counter/skyline.jpg);
    background-size: cover;
}

h1 {
    color: #fff;
    font-size: 5em;
}

p {
    color: #fff;
    font-size: 1.5em;
    line-height: 1.6em;
}


/* Layout Rules */
.main__container {
    display: grid;
    margin: auto;
    width: 70vw;
    height: 100vh;
    grid-gap: 10px;
    border-radius: 10%;
    grid-template-rows: 300px 1fr 150px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "hd hd hd hd"
    "ctn ctn ctn ctn"
    "ft ft ft ft";
    background: rgb(220,220,235);
    background: linear-gradient(0deg, rgba(220,220,235,0.49343487394957986) 0%, rgba(116,112,111,0.5214460784313726) 100%);
}

.main__header {
    grid-area: hd;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px
}

.main__ctn {
    grid-area: ctn;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px
}

.main__ft {
    grid-area: ft;
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Theme styling */

.counter {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.counter__days {
    border-radius: 1px solid red;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.counter__hours {
    border-radius: 1px solid red;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.counter__minutes {
    border-radius: 1px solid red;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

.counter__seconds {
    border-radius: 1px solid red;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
}

#count {
    font-size: 60px;
    color: yellow
}

#counter__text {
    border-bottom: 1px solid yellow;
    font-size: 18px;
}

.button {
    font-size: 25px;
    padding: 20px;
    background-color: #444;
    color: yellow;
    margin: 50px;
    height: 100px;
    width: 200px;
}